<!DOCTYPE html>
<html lang="en">
<head th:replace="/players :: head"></head>
    <meta charset="UTF-8">
    <title>WriteYourName</title>

</head>
<body>
<div class="background-roundone">
    <div style="background-color: rgba(0, 0, 255, 0.7);padding:20px;width:1000px; margin-left:100px;">

<form th:action="@{/home}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}">
    <!-- -->

    <table>
        <tr>
            <td>Podaj imię:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td><button type="submit">Graj</button></td>
        </tr>
    </table>
</form>
    </div>

</body>
</html>