<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Gra Słowna</title>
</head>
<body>
<h2>Podaj tłumaczenie słowa: </h2>
<form action="/game">  <!-- po wykonaniu akcji, wraca do result-->
    <p th:text="${englishW}"></p>
    <p th:text="${polishW}"></p>
    <label>Przetłumacz</label>
    <!--<form action="/result">   -->
    <input type="text" name="name">
</form>

<form action="/help">
    <h3 th:if="${polishW}">
        <input type="submit" value="Sprawdz">


        <p action="/help"></p>
        Podpowiedź
        <input type="submit" value="Tak">


    </h3>


</form>
</body>
</html>