<!DOCTYPE html>
<html lang="en">
<head th:replace="/players :: head"></head>
    <meta charset="UTF-8">
    <title>Podpowiedź</title>
</head>
<body>

<div class="background-help">
    <div style="background-color: rgba(0, 0, 255, 0.7);padding:20px;width:1000px; margin-left:100px;">

<form action="/r1">
    <h1> Tlumaczenie slowa to : </h2>
    <h3 tłumaczenie słowa to</h3>
    <p th:text="${help}"></p>

    <input type="text" name="polishW">
    <input type="submit" value="wpisz i wróć">



</form>
</body>
</html>