<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<form>
    <div class="container">
        <h2>Gracze</h2>
        <!-- to powinno byc w css \/  -->
        <table class="table table-bordered">
            <p th:if="${message}"
               th:text="${message}"
               style="color: green"></p>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Number of Points</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person : ${people}">
                <td th:text="${person.id}">
                <td th:text="${person.name}">
                <td th:text="${person.numberOfPoints}">
                <td>
                    <a data-th-href="@{|/people/${person.id}/delete|}">
                        Usuń
                    </a>
                </td>
                <td>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a data-th-href="@{|/|}">
        Rozpocznij nowa Grę
    </a>

    <!--<h2>Wpisz imię</h2>-->
    <!--<input type="text" name="name">-->

    <!--<h3>Ropozcznij nowa gre</h3>-->
    <!--<div th:if="${score < 1 }">-->
        <!--<a th:href="@{/}">-->
            <!--<button type="button">Start</button>-->
        <!--</a></div>-->
</form>
</body>
</html>