<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Gra Słowna</title>
</head>
<body>
<h2>Podaj tłumaczenie słowa: </h2>
<form accept="/roundone">  <!-- po wykonaniu akcji, wraca do result-->
    <p th:text="${englishW}"></p>
    <label>Przetłumacz</label>

    <input type="text" name="name">
    <input type="submit" value="Następne">
    <!--<button th:if="${gonext}=2">  </button>-->
    <div th:if="${point > 1 }">
        <a th:href="@{/r}">
            <button type="button">Idź dalej</button>
        </a></div>          <!--@ mowi nam o linku do getmappinga np  -->

    <form>

    </form>

    <div th:text="${answer}"></div>
    <input type="button" value="Sprawdz">


    <form action="/help">
        <h3 th align="center" th:accept="${polishW}">


            <input type="hidden" th:value="${polishW}" name="Podpowiedz"/>
            Podpowiedź
            <input value="tak" type="submit">
        </h3>
    </form>
    <form>
        <select name="submit">
            <option value=1>Podpowiedź</option>
            <option value="0"><p th:text="${polishW}"</p></option>
        </select>

        </h3>
    </form>

</form>
</body>
</html>